.parent {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
}

.block {
	width: 250px;
	height: 290px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -125px 0 0 -125px;
	border: 5px solid #2e9aff;
}

.divborder {
	width: 247px;
	height: 23px; /* Размеры */
	background: white; /* Цвет фона */
	outline: 1px solid #000; /* Чёрная рамка */
	border: 1px solid #fff; /* Белая рамка */
	border-radius: 5px; /* Радиус скругления */
}

button {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 6em;
}

.btn_block {
	margin-left: 40px;
}
h1 {
	font-family: 'Enriqueta', arial, serif;
	line-height: 1.25;
	margin: 0 0 10px;
	font-size: 39px;
	font-weight: bold;
}

.equally {
	/* outline: 1px solid red; */
	/* background-color: aqua; */
	color: #2eff62;
}

.notEqually {
	color: #2e9aff;
}
.row {
	display: flex;
	justify-content: space-between;
	margin: 5px;
}
